In [1]:
import pandas as pd
df = pd.read_csv('password_database.csv')

import string
def Encrypter(initial_string:str,cypher:int=3)-> str:
    '''
    shift the postion of the element in the string base {cypher} No. of times
    '''
    encrypt=''    
    string_base=[i for i in (string.ascii_letters+string.digits+' ')]
    #'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 '          
    for letter in initial_string:        
        if letter in string_base:
            new_letter_index=string_base.index(letter)+cypher
            if new_letter_index>=len(string_base)-1:
                new_letter_index-=len(string_base)
                encrypt+=string_base[new_letter_index]
            else:
                encrypt+=string_base[new_letter_index]
        else:
            encrypt+=letter    

    return encrypt   
 
def Decrypter(initial_string:str,cypher:int=3)-> str:
    '''
    shift the postion of the element in the string base BACK {cypher} No. of times
    (to mentain integrity decrypt with the same cypher as encryption)
    '''   
    decrypt=''
    string_base=[i for i in (string.ascii_letters+string.digits+' ')]
    #'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 '
    for letter in initial_string:   
        if letter in string_base:     
            new_letter_index=string_base.index(letter)-cypher
            decrypt+=string_base[new_letter_index]
        else:
            decrypt+=letter
    return decrypt 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Website   10 non-null     object
 1   Username  10 non-null     object
 2   Password  10 non-null     object
dtypes: object(3)
memory usage: 372.0+ bytes

In [2]:
df.head(10)

         Website         Username      Password
0   Facebook.com       coolguy123     P@ssw0rd!
1  instagram.com    soccerlover22        Goalie
2   Facebook.com     mysterygal99   Secret$Pass
3     Reddit.com    techwizard007    CodeM@ster
4     Reddit.com    musicjunkie23  Melody*Power
5   Facebook.com  adventureseeker  ExploR3r$Fun
6  instagram.com      gamerpro444     G@m3OnNow
7     Reddit.com    foodieforever  Yummi3s&More
8   Facebook.com     bookworm2023    ReadB00ks!
9     Tumblr.com    outdoorsygirl  Hik3r@Nature

In [3]:
lst=[df.iloc[i,i] for i in range(3)]

encrypted=list(map(Encrypter,lst))
decrypted=list(map(Decrypter,encrypted))

print(encrypted)
print(decrypted)

['Idfherrn.frp', 'vrffhuoryhu55', 'Vhfuhw$Sdvv']
['Facebook.com', 'soccerlover22', 'Secret$Pass']

In [5]:

app_df=pd.DataFrame({'Website':['Threads.com'],'Username':['Killy_Daviel'],'Password':['Kino<Cheese>']})

df = pd.concat([df, app_df], ignore_index=True)
df

          Website         Username      Password
0    Facebook.com       coolguy123     P@ssw0rd!
1   instagram.com    soccerlover22        Goalie
2    Facebook.com     mysterygal99   Secret$Pass
3      Reddit.com    techwizard007    CodeM@ster
4      Reddit.com    musicjunkie23  Melody*Power
5    Facebook.com  adventureseeker  ExploR3r$Fun
6   instagram.com      gamerpro444     G@m3OnNow
7      Reddit.com    foodieforever  Yummi3s&More
8    Facebook.com     bookworm2023    ReadB00ks!
9      Tumblr.com    outdoorsygirl  Hik3r@Nature
10    Threads.com     Killy_Daviel  Kino<Cheese>